body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    opacity: 0;
    animation: fadeIn 2s ease-in both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.resume-container {
    max-width: 900px;
    background-color: aliceblue;
    display: flex;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.sidebar {
    background-color: rgb(238, 220, 255);
    padding: 20px;
    width: 28%;
    height: auto;
}

.sidebar h2 {
    margin: 0;
    font-size: 25px;
    text-align: center;
    font-family: "Playwrite CU", cursive;
}

.contact .education .skills {
    margin-top: 15px;
}

.contact p, .education p, .skills p {
    margin: 5px 0;
    font-size: 14px;
    word-wrap: break-word;
}

.main-content {
    width: 74%;
    background-color: aliceblue;
    padding: 20px;
    padding-bottom: 13%;
}

.main-content h3 {
    font-size: 16px;
    color: rgb(59, 67, 65);
    font-family: "Playwrite CU", cursive;
}

.main-content p {
    color: rgb(43, 40, 40);
    font-size: 14px;
}

.main-content ul li {
    color: rgb(43, 40, 40);
    font-size: 14px;
    margin-top: 7px;
    list-style-type: circle;
}

.skills-strength-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; /* Add space between items */
}

.skills-strength {
    flex: 1;
    text-wrap: wrap;
    min-width: 200px; /* Ensure a minimum width */
    margin-top: 10px;
    background-color: rgb(238, 220, 255);
    border-radius: 10% 0 10% 0;
    padding: 10px;
    box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
    overflow: hidden;
    word-wrap: break-word;
}

.skills-strength h3 {
    text-align: center;
    color: black;
}

footer {
    display: flex;
    background-color: rgb(217, 177, 255);
    color: rgb(0, 0, 0);
    height: 8vh;
    position: absolute;
    margin-top: 10vh;
    bottom: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: "Playwrite CU", cursive;
    font-size: small;
    text-shadow: 1px 1px #ffffff;
    font-weight: bold;
}
